<!doctype html>
<html lang="en-us">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>了解更多</title>
    <meta name="description" content="">
    <!-- The compiled CSS file -->
    <link rel="stylesheet" href="~/css/production.css">
    <link rel="shortcut icon" href="favicon.ico">
</head>
<body>
    <!-- Create outer border -->
    <div class="page-border">
        <div class="bg--white">
            <!-- Header -->
            <header class="align--center pt3 pb2">
                <div class="container">
                    <h1 class="mb3" title="西安建筑科技大学出版社"><a href='/Home'><img src="~/img/logo2.png" alt="西安建筑科技大学出版社"></a></h1>

                    <p class="mb1">坐落于西安建筑科技大学草堂校区</p>
                    <p>西安建筑科技大学出版社成立于1994年6月，是由西安建筑科技大学联合西安市政府发起的一家综合出版社。</p>
                </div>
            </header>
            <!-- Body -->

            <main>
                <div class="container">
                    <!-- Info -->
                    <section class="pt2 pb3">
                        <img class="mb3" src="~/img/1.jpg" alt="Huddle presentation">
                        <div class="grid-row">
                            <div class="grid-column span-one-third mt1 align--center">
                                <img class="icon mb1" src="~/img/bucket.svg">
                                <hr>
                                <p>
                                    西安建筑科技大学出版社成立于1994年6月，是由西安建筑科技大学联合西安市政府发起的一家综合出版社。在市委，市政府的领导下，主要出版各类政治，经济，科技以及教育文化类图书。
                                </p>
                            </div>
                            <div class="grid-column span-one-third mt1 align--center">
                                <img class="icon mb1" src="~/img/flask.svg">
                                <hr>
                                <p>
                                    本出版社具有雄厚的编辑、出版、发行实力，曾获得中国出版政府奖图书奖提名奖、鲁迅文学奖、优秀长篇小说奖、冰心儿童图书奖、全国优秀报告文学奖，入选年度全行业优秀畅销品种、全国优秀畅销书
                                </p>
                            </div>
                            <div class="grid-column span-one-third mt1 align--center">

                                <img class="icon mb1" src="~/img/aircraft.svg">
                                <hr>
                                <p>西安建筑科技大学出版社成立以来，始终紧紧围绕中华传统优秀文化，彰显传承闻名，传播文化，服务大众，贡献学术的出版理念，受到学术界，出版界的充分肯定。</p>
                            </div>
                        </div>
                    </section>
                    <!-- Presenters -->
                    <section class="pt3 pb3 align--center">
                        <h3 class="mb1">公司成员组成</h3>
                        <hr>
                        <div class="grid-row">
                            <div class="grid-column span-3 mt2">
                                <img class="mb1" src="~/img/HJJ.jpg" alt="总经理：胡佳俊">
                                <hr><br>
                                <p class="small">总经理：胡佳俊</p>

                            </div>
                            <div class="grid-column span-3 mt2">
                                <img class="mb1" src="~/img/ZX.jpg" alt="常务副总经理：左鑫">
                                <hr><br>
                                <p class="small">常务副总经理：左鑫</p>

                            </div>
                            <div class="grid-column span-3 mt2">
                                <img class="mb1" src="~/img/CHH.jpg" alt="总编辑：陈行行">
                                <hr><br>
                                <p class="small">总编辑：陈行行</p>

                            </div>
                            <div class="grid-column span-3 mt2">
                                <img class="mb1" src="~/img/JLX.jpg" alt="常务业务部部长：贾露枭">
                                <hr><br>
                                <p class="small">常务业务部部长：贾露枭</p>

                            </div>
                        </div>
                    </section>
                </div>
            </main>
        </div>
    </div>
</body>
</html>