@{
    Layout = "_AuthorLayout";
    ViewData["Title"] = "出版合同";

}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row justify-content-between">

                        <div class="col-lg-12">
                            <h1 class="card-title text-center">出版合同</h1>
                            <hr />
                            <div class="card-content">
                                <p class="text-justify text-xl">
                                    甲方(著作权人) 地址：@{}<br /><br />

                                    乙方(出版者) 地址：西安建筑科技大学13#530<br /><br />

                                    作者姓名：@{}<br /><br />

                                    甲乙双方就上述作品的出版达成如下协议：<br /><br />

                                    第一条 甲方授予乙方在合同有效期内，在陕西地区以图书形式出版上述作品@{}文本的专有使用权。<br /><br />

                                    第二条 甲方保证拥有第一条授予乙方的权利。如因上述权利的行使侵犯他人权益，甲方承担全部责任并赔偿因此给乙方造成的损失，乙方可以终止合同。<br /><br />

                                    第三条 上述作品的内容、篇幅、体例、图表、附录等应符合下列要求：<br /><br />

                                    第四条 甲方应于@{}前将上述作品的誊清稿交付乙方。甲方因故不能按时交稿，应在交稿期限届满前30日通知乙方，双方另行约定交稿日期。甲方到期仍不能交稿，乙方可以终止合同。<br />
                                    <br />
                                    甲方交付的稿件应有作者的签章。<br /><br />
                                    <br />
                                    第五条 乙方应于@{}产出版上述作品，因故不能按时出版，应在出版期限届满前30日通知甲方，双方另行约定出版日期。乙方到期仍不能出版，甲方可以终止合同。乙方应按第九条约定报酬标准的70%向甲方支付赔偿金。<br />
                                    <br />
                                    第六条 在合同有效期内，未经双方同意，任何一方不得将第一条约定的权利许可第三方使用。如有违反，另一方有权要求经济赔偿并终止合同。一方经对方同意许可第三方使用上述权利，应将所得报酬的70%交付对方。<br />
                                    <br />
                                    第七条 乙方尊重甲方确定的署名方式。乙方不得更动上述作品的名称，不得对作品进行修、删节、增加图表及前言、后记。<br />
                                    <br />
                                    (乙方可以更动上述作品的名称，对作品进行修改、删节、增加图表及前言、后记，但改动结果应得到甲方的书面认可。)*<br />
                                    <br />
                                    第八条 上述作品的校样由乙方审校。<br />
                                    <br />
                                    (上述作品的校样由甲方审校。甲方应在10日内签字后退还乙方。甲方未按期审校，乙方可自行审校，并按计划付印。因甲方修改造成版面改动超过30%或未能按期出版，甲方承担改版费用或推迟出版的责任。)*<br />
                                    <br />
                                    第九条 乙方向甲方支付报酬的方式和标准为：<br />
                                    <br />
                                    (一)基本稿酬加印数稿酬：10元/每千字×千字 印数×基本稿 %.或<br />
                                    <br />
                                    (二)一次性付酬：5000元。<br />
                                    <br />
                                    (三)版税：50元(图书定价)× 20%(版税率)×销售数(印数)*.最低印数为5000册。<br />
                                    <br />
                                    第十条 乙方在合同签字后30日内，向甲方预付上述报酬的20%(元)，其余部分于出版后30日付清。<br />
                                    <br />
                                    第十一条 甲方交付的稿件未达到合同第三条约定的要求，而且甲方拒绝按照合同的约定修改，乙方有权终止合同并要求甲方返还预付报酬的20%.如经反复修改仍未达到合同第三条的要求，预付报酬不返还乙方;如未支付预付报酬，乙方按合同第九条约定报酬的50%向甲方支付酬金。<br />
                                    <br />
                                    第十二条 上述作品首次出版10年内，乙方可以自行重印。首次出版10年后，乙方重印应事先通知甲方。如果甲方需要对作品进行修改，应于收到通知后30日内答复乙方，否则乙方可按原版重印。<br />
                                    <br />
                                    第十三条 乙方重印、再版，应将印数通知甲方，并在重印、再版__日内按第九条的约定向甲方支付报酬。<br />
                                    <br />
                                    第十四条 甲方有权核查图书的印数。如甲方指定第三方进行核查，需要提供书面授权书。如乙方隐瞒印数，除向甲方补齐应付报酬外，还应支付全部报酬50%的赔偿金并承担核查费用。如核查结果与乙方提供的印数相符，核查费用由甲方承担。<br />
                                    <br />
                                    第十五条 在合同有效期内，如图书脱销，甲方有权要求乙方重印，再版。如甲方收到乙方拒绝重印，再版的书面答复，或乙方收到甲方重印，再版的书面要求后2月内未重印，再版，甲方可以终止合同。<br />
                                    <br />
                                    第十六条 上述作品出版后：<br />
                                    <br />
                                    乙方应于30日内将作品原稿退还甲方。如有损坏，应赔偿甲方5000元;如有遗失，赔偿10000元。<br />
                                    <br />
                                    (作品原稿由乙方自行处理。)*<br />
                                    <br />
                                    第十七条 上述作品首次出版后20日内，乙方向甲方赠样书50册，并以7折价售予甲方图书100册。每次再版后90日内，乙方向甲方赠样书20册。<br />
                                    <br />
                                    第十八条 乙方许可报社、杂志社刊载上述作品，须另行取得甲方书面授权。<br />
                                    <br />
                                    (甲方授权乙方许可报社、杂志社刊登上述作品，乙方应及时将报刊使用作品的情况通知甲方，并将所得报酬的50%交付甲方。)*<br />
                                    <br />
                                    第十九条 双方因合同的解释或履行发生争议，由双方协商解决。协商不成：<br />
                                    <br />
                                    由著作权合同仲裁机构仲裁。<br />
                                    <br />
                                    (向人民法院提起诉讼。)*<br />
                                    <br />
                                    第二十条 合同的变更、续签及其他未尽事宜，由双方另行商定。<br />
                                    <br />
                                    第二十一条 本合同自签字之日起生效，有效期为10年。<br />
                                    <br />
                                    第二十二条 本合同一式两份，双方各执一份为凭。<br />
                                    <br />
                                    甲方：@{} <br /><br />
                                    乙方：西安建筑科技大学出版社<br />
                                    <br />
                                    @{/*出版日期*/}<br />
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>