@{
    Layout = "_AuthorLayout";
    ViewData["Title"] = "修改密码";
    var author = Model;
    ViewData["Name"] = author.Name;
}
<!-- Main wrapper  -->

<div id="main-wrapper">
    <div class="unix-login">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="login-content card">
                        <div class="login-form">
                            <h4>修改密码</h4>
                            <form action='@Url.Action("JudgePwd")' method="post">
                                <div class="form-group">
                                    <label>用户ID</label>
                                    <input name="id" type="text" class="form-control" value="@author.Id" readonly="readonly" onClick="{this.value='@author.Id'}">
                                </div>
                                <div class="form-group">
                                    <label>原始密码</label>
                                    <input name="oldPwd" type="password" class="form-control" placeholder="请输入原始密码">
                                </div>
                                <div class="form-group">
                                    <label>新密码</label>
                                    <input name="newPwd" type="password" class="form-control" placeholder="请输入新密码">
                                </div>
                                <div class="button-list">
                                    <button type="submit" class="btn btn-primary btn-rounded m-b-10 m-l-5">确认修改</button>
                                    <button type="reset" class="btn btn-info btn-rounded m-b-10 m-l-5">重置</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{

    <script src="~/js/lib/sweetalert/sweetalert.min.js"></script>
    <script src="~/js/lib/sweetalert/sweetalert.init.js"></script>
}